body{ 
    background-color: (#F8F8F8);
    margin: 0;
}

header {
      width: 800px;
      margin-left: calc(50% - 400px);
      display: inline-block;
}
header img{
      float: left;
}
nav{  
     float: right; 
     margin-top: 5px;
}

a{   display: inline-block;
      float: left;
      line-height: 20px;
      text-decoration: none;
      font-size: 20px;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border: 3px solid transparent;
      color: #AFAFAF;
}
a:last-child{
      border-color: #BDBDBD;
      text-transform: uppercase;
      margin-left: 25px;
}
main{ 
    margin-left: calc(50% - 400px);
    display: inline-block;
    width: 800px;
}
  div{
      float: left;
      width: 40%;
      color: #AFAFAF;
 }
 div > h1 {
       font-size: 80px;
       margin: 0%;
 }
 div > p {
       display: inline-block;
       font-size: 30px;
 }
main > img {
      float: left;
      width: 450px;
   
}