body { 
      background-color: blue;
      margin: 0;
    }

header {background-color: yellow;
        width: 800px;
        margin-left: calc(50% - 400px);
        display: inline-block;
}
header img {
        float: left;
}
nav{
        float: right;
}
 nav > a{
}
main { 
      background-color: pink;
      margin-left: calc(50% - 400px);
      display: inline-block;
      width: 800px;
    }
    div {
        float: left;
    }
    div > h1 {
    }
    div > p {
    }
 main > img {
     float: right;
 }   